
/* Asegura que el mapa ocupe el espacio completo disponible */
#mapa {
  height: 100%;
  width: 100%;
}

/* Agrega estilos específicos para manejar el desplazamiento horizontal */
.places-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    max-width: calc(100% - 4rem); /* Ajusta el tamaño según sea necesario */
  }
  
  .places-container::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
  }
  
  /* Estilos para las tarjetas de lugares */
.place-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra alrededor del div */
  transition: box-shadow 0.3s ease-in-out; /* Transición suave para la sombra */
}

.place-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Aumenta la sombra al pasar el mouse */
}
