<div class="flex flex-col h-screen">
  <section class="top-0 w-full row h-1/2">
    <div id="mapa" class="h-full w-full"></div>
  </section>
  <section>
    <!-- Creacte By Joker Banny -->
    <div class="mt-3 bg-gray-100 flex justify-center items-center mx-3">
      <div
        style="
          background-image: linear-gradient(
            to right top,
            #090925,
            #091337,
            #091a4a,
            #07205e,
            #042773,
            #063a8b,
            #064ea4,
            #0063bd,
            #0088d8,
            #00abe4,
            #00cce4,
            #19ebdd
          );
        "
        class="container mx-auto bg-indigo-500 rounded-lg p-14"
      >
        <form>
          <h1 class="text-center font-bold text-white text-4xl">
            Find your favorite places!!
          </h1>
          <p class="mx-auto font-normal text-sm my-6 max-w-lg text-white">
            Encuentra y descubre negocios locales en tu área. Usa el mapa
            interactivo para explorar opciones cercanas a ti
          </p>
          <div
            class="sm:flex items-center bg-white rounded-lg overflow-hidden px-2 py-1 justify-between"
          >
            <input
              class="text-base text-gray-400 flex-grow outline-none px-2"
              type="text"
              placeholder="Search your favorite place"
            />
            <div class="ms:flex items-center px-2 rounded-lg space-x-4 mx-auto">
              <button
                class="bg-indigo-500 text-white text-base rounded-lg px-4 py-2 font-thin"
              >
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section></section>
</div>
