<div
  class="min-h-screen bg-slate-100 py-6 flex flex-col justify-center sm:py-12 "
>
  <div class="relative py-3 sm:max-w-xl sm:mx-auto shadow rounded-3xl bg-white">
    <div
      class="relative px-4  mx-8 md:mx-0  sm:p-10 " 
    >
      <div class="max-w-md mx-auto">
        <div class="flex items-center space-x-5">
          <div
            class="h-14 w-14 bg-yellow-200 rounded-full flex flex-shrink-0 justify-center items-center text-yellow-500 text-2xl font-mono"
          >
            i
          </div>
          <div
            class="block pl-2 font-semibold text-xl self-start text-gray-700"
          >

            <h2 class="leading-relaxed">Crear un negocio</h2>
            <p class="text-sm text-gray-500 font-normal leading-relaxed">
              ¡Crea fácilmente un negocio en Unilocal!
            </p>
          </div>
        </div>
        <form class="" #f="ngForm" method="POST">
          <div class="divide-y divide-gray-200">
            <div
              class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7"
            >
              <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div class="flex flex-col">
                  <label class="leading-loose">Nombre</label>
                  <input
                    type="text"
                    name="name"
                    #name="ngModel"
                    minlength="3"
                    maxlength="50"
                    required
                    [(ngModel)]="createPlaceDto.name"
                    class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                    placeholder="Nombre"
                  />
                  <!-- Mostrar mensaje de error si el campo es inválido -->
                  <div
                    *ngIf="name.invalid && (name.dirty || name.touched)"
                    class="text-red-500"
                  >
                    <div
                      *ngIf="
                        f.controls['name'].errors &&
                        f.controls['name'].errors['required']
                      "
                      class="text-red-500"
                    >
                      El nombre es obligatorio
                    </div>
                    <div
                      [class.hidden]="
                        !f.controls['name'].errors ||
                        !f.controls['name'].errors['minlength']
                      "
                      class="text-red-500"
                    >
                      El nombre debe tener al menos 3 caracteres
                    </div>
                    <div
                      [class.hidden]="
                        !f.controls['name'].errors ||
                        !f.controls['name'].errors['maxlength']
                      "
                      class="text-red-500"
                    >
                      El nombre debe tener máximo 50 caracteres
                    </div>
                  </div>
                </div>
                <div class="flex flex-col">
                  <label class="leading-loose">Description</label>
                  <textarea
                    name="description"
                    required
                    type="text"
                    [(ngModel)]="createPlaceDto.description"
                    class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600 max-h-32 min-h-2"
                    placeholder="Description"
                    
                  ></textarea>
                </div>
                <div class="flex flex-col">
                  <label class="leading-loose">Tipo de Negocio</label>
                  <select
                    name="businessType"
                    required
                    class="bg-gray-300"
                    [(ngModel)]="createPlaceDto.businessType"
                  >
                    <option value="" selected>Seleccione un tipo</option>
                    @for (item of tipos; track $index) {
                    <option [value]="item">{{ item }}</option>
                    }
                  </select>
                </div>
                <div class="flex flex-col">
                  <label class="col-sm-2 col-form-label">Horarios: </label>
                  <div class="col-sm-8">
                    <div
                      *ngFor="let horario of horarios; let i = index"
                      class="row mb-2"
                    >
                      <div class="col">
                        <input
                          class="form-control"
                          placeholder="Día"
                          type="text"
                          name="dia-{{ i }}"
                          [(ngModel)]="horario.dia"
                          required
                        />
                      </div>
                      <div class="col">
                        <input
                          class="form-control"
                          placeholder="Hora Inicio"
                          type="time"
                          name="horaInicio-{{ i }}"
                          [(ngModel)]="horario.horaInicio"
                          required
                        />
                      </div>
                      <div class="col">
                        <input
                          class="form-control"
                          placeholder="Hora Fin"
                          type="time"
                          name="horaFin-{{ i }}"
                          [(ngModel)]="horario.horaFin"
                          required
                        />
                      </div>
                      <div class="col-sm-2 text-end">
                        <button
                          class="btn btn-danger"
                          (click)="eliminarHorario(i)"
                        >
                          <i class="fa-solid fa-circle-minus me-1"></i>Eliminar
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2 text-end">
                    <button class="btn btn-primary" (click)="agregarHorario()">
                      <i class="fa-solid fa-circle-plus me-1"></i>Agregar
                      horario
                    </button>
                  </div>
                </div>

                <div class="flex flex-col">
                  <label class="col-sm-2 col-form-label">Teléfonos: </label>
                  <div class="col-sm-8">
                    <div
                      *ngFor="let phone of phones; let i = index"
                      class="row mb-2"
                    >
                      <div class="col">
                        <input
                          class="form-control"
                          placeholder="phone"
                          type="text"
                          name="phone-{{ i }}"
                          [(ngModel)]="phones[i].telefono"
                          required
                        />
                      </div>
                      <div class="col-sm-2 text-end">
                        <button
                          class="btn btn-primary"
                          (click)="eliminarTelefono(i)"
                        >
                          <i class="fa-solid fa-circle-minus me-1"></i>Eliminar
                        </button>
                      </div>
                    </div>
                    <div class="col-sm-2 text-end">
                      <button
                        class="btn btn-primary"
                        (click)="agregarTelefono()"
                      >
                        <i class="fa-solid fa-circle-plus me-1"></i>Agregar
                        Teléfono
                      </button>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col">
                  <label class="leading-loose">Imágenes</label>
                  <input
                    type="file"
                    name="images"
                    required
                    multiple
                    (change)="onFileChange($event)"
                    class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                    placeholder="Imágenes"
                  />
                </div>
                
              </div>
            </div>
            
          </div>
        </form>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label ml-4">Ubicación: </label>
        <!---MAPPAAAAA-->
        <div class="row mt-3">
          <div id="mapa" class="h-52 w-full"></div>
        </div>
      </div>
    </div>
    <div class="pt-4 mx-2 flex justify-center">
      <div>
        <button
        (click)="closePopup()"
        class="flex justify-center items-center w-2/3 text-white px-4 py-3 bg-red-400 rounded-md focus:outline-none"
      >
        
        Cancel
      </button>
      
      </div>

      <div>
        <button
        [disabled]="f.invalid"
      x
        (click)="crearNegocio()"
        class="bg-blue-500 flex justify-center items-center w-2/3 text-white px-6 py-3 rounded-md focus:outline-none"
      >
        Create
      </button>
      </div>
      
    </div>
  </div>
</div>