<div
  class="md:mr-64 max-w-screen-lg w-64 bg-white rounded-xl overflow-hidden shadow-lg"
>
  <div
    key="{content}"
    class="relative rounded-lg overflow-hidden bg-white hover:shadow-2xl"
  >
    <div class="h-40">
      <img
        [src]="lugar.listaImagenes[currentImageIndex]"
        [alt]="lugar.nombre"
        class="h-40 w-full object-cover object-center"
      />
    </div>
    <div class="h-1/2 p-4">
      <h3 class="mb-2 text-base font-semibold text-blue-800">
        <a href="" class="hover:underline">
          {{ lugar.nombre }}
        </a>
      </h3>
      <p class="text-sm font-bold text-orange-500">
        {{ lugar.tipoNegocio }}
      </p>
      <p>
        {{ lugar.descripcion }}
      </p>
      <div class="flex flex-row justify-between text-xs mt-2"></div>
    </div>
  </div>
</div>
